<div class="container p-5">
  <div class="row">
    <h1>All flats</h1>
  </div>
  <div class="row">
    <p>There are <%= @flats.count %> flats available.</p>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="card-group col-4 p-1">
      <div class="card">
        <img src="https://source.unsplash.com/random/324x200">
        <div class="card-body text-center border-bottom">
          <h5 class="card-title"><%= link_to flat.name, flat_path(flat)%></h5>
          <p class="card-text small"><%= flat.address %></p>
          <div class="row d-flex justify-content-between">
            <p class="card-text mx-3"><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
            <p class="card-text mx-3">€ <%= flat.price_per_night %></p>
          </div>
        </div>
        <div class="card-actions p-3">
          <%= link_to 'More Info', flat_path(flat), class: 'text-primary' %>
          <%= link_to 'Edit', edit_flat_path(flat), class: 'text-warning' %>
          <%= link_to 'Remove', flat_path(flat), method: :delete, class: 'text-danger' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

